@using PhongKham.Core.Entities
@model IEnumerable<Invoice>
<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Invoice List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="invoiceTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Invoice Date</th>
                    <th>Invoice Note</th>
                    <th>Invoice Total</th>
                    <th>Appointment Id</th>
                    <th>Medicines List</th>
                    <th>Patient</th>
                    <th>Payment status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model.Count() != 0)
                {


                    @foreach (var invoice in Model)
                    {
                        //invoice.CalculateInvoiceTotal();
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@invoice.Id</strong></td>
                    <td>@invoice.InDatetime.ToString("MM/dd/yyyy")</td>
                    <td> @invoice.InNote</td>
                    <td>@invoice.InvoiceTotal</td>
                    <td>@invoice.AppointmentId</td>
                    <td>
                        @if (invoice.InvoiceMedicines != null)
                        {
                            <ul>
                                @foreach (var medicine in invoice.InvoiceMedicines)
                                {
                                    <li>@medicine.Medicine.medName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No Medicines</p>
                        }
                    </td>
                    <td>
                        @if(invoice.Patient != null)
                    {
                        <p>@invoice.Patient.patName</p>
                    }
                    else
                    {
                        <p>Patient Null</p>
                    }
                    </td>
                    <td>
                        @invoice.PaymentStatus
                    </td>

                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="jQueryModalGet('?handler=CreateOrEdit&id=@invoice.Id','Edit Appointment')">
                                    <i class="bx bx-edit-alt me-1"></i>
                                    Edit
                                </a>
                                <form class="dropdown-item d-inline" method="post" asp-page="Invoice" asp-route-id="@invoice.Id" asp-page-handler="Delete" onsubmit="return jQueryModalDelete(this)">
                                    <button type="submit">
                                        <i class="bx bx-trash me-1"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<!--/ Basic Bootstrap Table -->
